/*FRANCISCO BARROSO SIMON*/
    /*No me ha hecho falta tocar el html*/
    @import 
    url(https://fonts.googleapis.com/css?family=Montserrat:font-weight);
    
/*Header*/

header {
    background-color: #333;
    color: #fff;
    padding: 10px;   
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li { 
    display: inline; 
    margin-right: 20px; 

}
a:hover{        
        color:  #a9065d;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
}

/* Footer */

footer{
    background-color: #333;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;    
}

footer >p{
    margin: 3px;
} 

body {
    font-family: Arial,Helvetica, sans-serif ; 
    margin: 0;
    background-color: #f4f4f9;
    color: #0b0a0a;
    font-family: 'Montserrat', Arial, sans-serif;
 }

    /* Main */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}
img{
    height: 350px;
    width: 650px;
    margin-top: 40px;
}
h1{
    font-size: 35px;
}
section{
display: flex;
align-items: center;
flex-direction: column;
}
section >p{
font-size: 25px;
margin: 5px;
}
   